Enterprise Incident Ingestion Pipeline.json
{
  "name": "Enterprise Incident Ingestion Pipeline",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent?key=AIzaSyCahai8yXr97BXMXmFV6Ztc-Pr6D7Kh-pc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ {\n  \"parts\": [\n    {\n      \"text\": $json.chunk\n    }\n  ]\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        0
      ],
      "id": "fa00f52d-3b3e-4ac4-8319-62b2f92f7cf4",
      "name": "Embeddings"
    },
    {
      "parameters": {
        "jsCode": "const incident = $json;\n\nconst document = `\nINCIDENT ID: ${incident.incident_id}\n\nSEVERITY: ${incident.severity}\n\nCOMPONENT: ${incident.component}\n\nSYMPTOM:\n${incident.symptom}\n\nLOGS:\n${incident.logs.join(\"\\n\")}\n\nROOT CAUSE:\n${incident.root_cause}\n\nRESOLUTION:\n${incident.resolution.join(\"\\n\")}\n\nBUSINESS IMPACT:\n${incident.business_impact}\n`;\n\nreturn [{\n  json: {\n    document\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "e0275689-a256-4c95-b16b-6751bedd0aca",
      "name": "Create Incident Document"
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "38bf2b47-45d9-4f10-8e6c-82e753451da6",
      "name": "Chat Trigger",
      "webhookId": "9f976fb0-af5e-4209-b39e-fd2f3206bece"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "data0",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "a6a0a54d-5fb7-403e-9c11-7ee2181f8259",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text;\n\nconst incidents = JSON.parse(raw);\n\nreturn incidents.map(i => ({\n  json: i\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "b9f56fff-eba8-4564-88bd-a06fd8f16aa1",
      "name": "Parse Incidents"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.document;\n\nconst chunkSize = 800;\n\nconst chunks = [];\n\nfor (let i = 0; i < text.length; i += chunkSize) {\n\n  chunks.push({\n    chunk: text.slice(i, i + chunkSize)\n  });\n\n}\n\nreturn chunks.map(c => ({\n  json: c\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        0
      ],
      "id": "07b15c64-4c2c-4b5b-91af-535873ac1067",
      "name": "Chunk Incident"
    },
    {
      "parameters": {
        "jsCode": "const chunk =\n$('Chunk Incident').first().json.chunk;\n\nconst incidentId =\n$('Parse Incidents').first().json.incident_id || 'unknown';\n\nreturn [{\n  json: {\n    vectors: [\n      {\n        id: `${incidentId}_${Date.now()}`,\n\n        values: $json.embedding.values,\n\n        metadata: {\n          text: chunk\n        }\n      }\n    ]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        0
      ],
      "id": "2d2abfa3-71d6-4041-b4ea-8af08c109550",
      "name": "Format Pinecone Vector"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://company-knowledge-gemini-77y6hmb.svc.aped-4627-b74a.pinecone.io/vectors/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": "pcsk_GnbEj_6B9sD1ofyYg6n2kkXELHQhNYz8aB8qe8LWmtdCopPTMt8KSbZvogAbtTh8gqJ7B"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1696,
        0
      ],
      "id": "aa721eb5-e7fa-462f-ab03-1dcc6600defa",
      "name": "Pinecone Upsert"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings": {
      "main": [
        [
          {
            "node": "Format Pinecone Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Incident Document": {
      "main": [
        [
          {
            "node": "Chunk Incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Parse Incidents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Incidents": {
      "main": [
        [
          {
            "node": "Create Incident Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Incident": {
      "main": [
        [
          {
            "node": "Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Pinecone Vector": {
      "main": [
        [
          {
            "node": "Pinecone Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Upsert": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "06350b38-fa4b-426d-a223-9af2e2587941",
  "meta": {
    "instanceId": "5db44c55be74898652bba04189b94346ad3065f7db757e9aa99fe4b534bd521d"
  },
  "id": "ub5p1kXFxkrqYnVR",
  "tags": []
}