workflows/AIOps Storage Incident Copilot.json
{
  "name": "AIOps Storage Incident Copilot",
  "nodes": [
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "225a1bb2-e085-477e-9546-fc7051b6f990",
      "name": "When chat message received",
      "webhookId": "20745e12-cf99-4810-81a3-0af89146c74f"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "data0",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "37fb631e-f937-4675-8001-aaddbe1ea5c0",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent?key=AIzaSyCahai8yXr97BXMXmFV6Ztc-Pr6D7Kh-pc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": `You are a senior Dell EMC storage engineer.\n\nAnalyze these enterprise storage logs.\n\nExtract:\n1. Infrastructure technology\n2. Symptoms\n3. Failed component\n4. Severity indicators\n5. Error patterns\n6. Possible root causes\n7. Incident category\n\nReturn ONLY valid JSON.\n\nLOGS:\n` + $json.text\n        }\n      ]\n    }\n  ]\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ],
      "id": "0ed584f1-67a3-4afa-8d05-61a32a750f80",
      "name": "AI Log Analyzer"
    },
    {
      "parameters": {
        "jsCode": "let raw =\n$json.candidates[0]\n.content.parts[0]\n.text;\n\n// Remove markdown code blocks\nraw = raw.replace(/```json/g, '');\nraw = raw.replace(/```/g, '');\n\n// Trim spaces/newlines\nraw = raw.trim();\n\nreturn [{\n  json: JSON.parse(raw)\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "19143edd-563d-41d8-b2ad-1417a941bd09",
      "name": "Parse AI Analysis"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent?key=AIzaSyCahai8yXr97BXMXmFV6Ztc-Pr6D7Kh-pc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "JSON",
        "body": "={{\nJSON.stringify({\n  model: \"models/gemini-embedding-001\",\n  content: {\n    parts: [\n      {\n        text: JSON.stringify($json)\n      }\n    ]\n  }\n})\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        0
      ],
      "id": "dd79a8d3-bd20-4cbc-af8b-8dd8c2b655ae",
      "name": "Generate Query Embedding"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://company-knowledge-gemini-77y6hmb.svc.aped-4627-b74a.pinecone.io/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": "pcsk_GnbEj_6B9sD1ofyYg6n2kkXELHQhNYz8aB8qe8LWmtdCopPTMt8KSbZvogAbtTh8gqJ7B"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "JSON",
        "body": "={{\nJSON.stringify({\n  vector: $json.embedding.values,\n  topK: 5,\n  includeMetadata: true\n})\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        0
      ],
      "id": "546a7d46-11f3-495c-86cd-cc9d24e0c29e",
      "name": "Pinecone Similarity Search"
    },
    {
      "parameters": {
        "jsCode": "const matches = $json.matches;\n\nconst formatted = matches.map((m, index) => {\n  return `\nMATCH ${index + 1}\n\nSimilarity Score: ${m.score}\n\nHistorical Incident:\n${m.metadata.text}\n`;\n}).join(\"\\n-------------------\\n\");\n\nreturn [\n  {\n    json: {\n      historical_context: formatted\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        0
      ],
      "id": "369032f8-2b26-4a3e-81c8-c24f50e6ce3e",
      "name": "Format Historical Matches"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent?key=AIzaSyAtnlgOkP7ad-wgHnabp9zEADHH3N6Y128",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "JSON",
        "body": "={{\nJSON.stringify({\n  contents: [\n    {\n      parts: [\n        {\n          text: `\nYou are an enterprise Dell EMC AI Operations Engineer.\n\nAnalyze the current infrastructure incident.\n\nUse the historical incidents to:\n- identify probable root cause\n- estimate confidence\n- recommend remediation\n- identify business impact\n- suggest escalation priority\n\nCURRENT INCIDENT:\n${JSON.stringify($('Parse AI Analysis').item.json)}\n\nHISTORICAL INCIDENTS:\n${$json.historical_context}\n\nReturn STRICT JSON:\n\n{\n  \"probable_root_cause\": \"\",\n  \"confidence_score\": \"\",\n  \"recommended_actions\": [],\n  \"business_impact\": \"\",\n  \"escalation_priority\": \"\",\n  \"preventive_measures\": []\n}\n`\n        }\n      ]\n    }\n  ]\n})\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1568,
        0
      ],
      "id": "5281035c-1ea3-4e17-8bb1-521be9bbb9cc",
      "name": "AI RCA Engine"
    },
    {
      "parameters": {
        "jsCode": "const raw =\n  $json.candidates[0].content.parts[0].text;\n\nconst cleaned = raw\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nreturn [\n  {\n    json: JSON.parse(cleaned)\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        0
      ],
      "id": "dee289e9-2ecf-4ba0-9e71-a928c8c3a3a0",
      "name": "Parse Final RCA"
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\n\nconst report = `\n# AI OPERATIONS INCIDENT REPORT\n\n## INCIDENT SUMMARY\n${d.business_impact}\n\n---\n\n## PROBABLE ROOT CAUSE\n${d.probable_root_cause}\n\n---\n\n## AI CONFIDENCE\n🧠 ${Math.round(d.confidence_score * 100)}%\n\n---\n\n## ESCALATION PRIORITY\n🔴 ${d.escalation_priority}\n\n---\n\n## RECOMMENDED ACTIONS\n${d.recommended_actions.map(a => `- ${a}`).join('\\n')}\n\n---\n\n## PREVENTIVE MEASURES\n${d.preventive_measures.map(a => `- ${a}`).join('\\n')}\n\n---\n\nGenerated by:\nAI Storage Operations Copilot\n`;\n\nreturn [\n  {\n    json: {\n      text: report\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        0
      ],
      "id": "0932c761-ea99-4681-b091-da4923052a2e",
      "name": "Generate Executive Report"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Log Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Log Analyzer": {
      "main": [
        [
          {
            "node": "Parse AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Analysis": {
      "main": [
        [
          {
            "node": "Generate Query Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Query Embedding": {
      "main": [
        [
          {
            "node": "Pinecone Similarity Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Similarity Search": {
      "main": [
        [
          {
            "node": "Format Historical Matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Historical Matches": {
      "main": [
        [
          {
            "node": "AI RCA Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI RCA Engine": {
      "main": [
        [
          {
            "node": "Parse Final RCA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Final RCA": {
      "main": [
        [
          {
            "node": "Generate Executive Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Executive Report": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "442cca85-2add-49ae-b35d-d2a5039a35b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5db44c55be74898652bba04189b94346ad3065f7db757e9aa99fe4b534bd521d"
  },
  "id": "AX6g8f8UaUpOh369",
  "tags": []
}